<!doctype html>
<html ng-app="streamingExample">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> <!-- include the angular library -->
    <link 
      rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
      crossorigin="anonymous"
    > <!-- include Bootstrap CSS -->
  </head>
  <body ng-controller="streamingExampleCtrl">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <button class="btn btn-default btn-block" ng-click="options.scales.yAxes[0].ticks.max = 100">Y-Axes 0-100</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default btn-block" ng-click="options.scales.yAxes[0].ticks.max = 50">Y-Axes 0-50</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default btn-block" ng-click="options.scales.yAxes[0].ticks.max = 25">Y-Axes 0-25</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default btn-block" ng-click="options.scales.yAxes[0].ticks.max = 10">Y-Axes 0-10</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <canvas class="chart chart-line" chart-data="data"
    chart-labels="labels" chart-series="series" chart-options="options" height="100"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"> 
          <h2>Incoming</h2>
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="aTweet in tweetsIn">
                <td>{{aTweet.channel}}</td>
                <td>{{aTweet.message}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="col-sm-6">  
          <h2>Processed</h2>
          <table class="table table-striped">
            <tbody>
              <tr ng-repeat="aTweet in tweetsOut">
                <td>{{aTweet.channel}}</td>
                <td>{{aTweet.message}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-websocket/2.0.1/angular-websocket.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/1.1.1/angular-chart.min.js"></script>
    <script src="streamingExample.js"></script> <!-- Our script -->
  </body>
</html>